<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Option</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="/stylesheets/option.css">
    </head>
    <body>
      <section class="info">
        <img src="/images/nba-logo-transparent.png"/>
        <h1>NBA</h1>
      </section>
      <section class="cards-wrapper">
        <div class="card-grid-space">
          <a class="card" href="/users/player" style="--bg-img: url('https://sportshub.cbsistatic.com/i/r/2018/09/15/f0e813c2-ad7f-453e-855d-097d9f4feed7/thumbnail/1200x675/ebf4ab495c328c63734a58e4c34f8c2a/top100-cover.png')">
            <div class="blue">
              <h1>NBA Players</h1>
              <p>Check players stats</p>
              <div class="date">2017-2018</div>
              <div class="tags">
                <div class="tag">Points, rebounds, steals</div>
              </div>
            </div>
          </a>
        </div>
        <div class="card-grid-space">
          <a class="card" style="--bg-img: url('https://upload.wikimedia.org/wikipedia/commons/3/35/StaplesCenter051209.jpg')">
            <div class="blue">
              <h1>Stadiums</h1>
              <p>Images of all NBA Stadiums and city background</p>
              <div class="tags">
                <div class="tag">USA</div>
              </div>
            </div>
          </a>
        </div>
        <div class="card-grid-space">
          <a class="card" style="--bg-img: url('https://wallpaperaccess.com/full/2027519.jpg')">
            <div class="purple">
              <h1>Kobe Tribute</h1>
              <p>Remembering Kobe</p>
              <div class="date">26 Jan 2020</div>
              <div class="tags">
                <div class="tag" id="yellow">Laker Legend</div>
              </div>
            </div>
          </a>
        </div>
      </section>
    </body>
</html>