aside.Grizzlies:hover {
    border-top: 4px solid #5D76A9;
    border-bottom: 4px solid #5D76A9;
    border-radius: 5px;
    height: 480px;
    width: 350px;
    box-shadow: 0 0 70px 10px #fff;
  }
  
  header.Grizzlies img {
    border-radius: 50%;
    margin: 20px auto;
    display: block;
    width: 200px;
    border: 5px solid #12173F;
  }
  
  aside.Grizzlies {
    border-radius: 50%;
    margin: 0 auto;
    display: block;
    height: 200px;
    width: 200px;
    background-size: cover;
    overflow: hidden;
    box-shadow: 0 0 100px 10px #fff;
    transition: all ease 0.3s;
  }