aside.Thunder:hover {
    border-top: 4px solid #EF3B24;
    border-bottom: 4px solid #EF3B24;
    border-radius: 5px;
    height: 480px;
    width: 350px;
    box-shadow: 0 0 70px 10px #fff;
  }
  
  header.Thunder img {
    border-radius: 50%;
    margin: 20px auto;
    display: block;
    width: 200px;
    border: 5px solid #007AC1;
  }
  
  aside.Thunder {
    border-radius: 50%;
    margin: 0 auto;
    display: block;
    height: 250px;
    width: 250px;
    background-size: cover;
    overflow: hidden;
    box-shadow: 0 0 100px 10px #fff;
    transition: all ease 0.3s;
  }